<!-- Style sheets -->
<link rel="stylesheet" type="text/css" href="/css/nav-fixed-top.css">
<link rel="stylesheet" type="text/css" href="/css/bmwindex-page.css">

<title>BMW</title>
<body>
	<div class="container-fluid">
		<div id="navigation-bar">
			<nav class="fixed-nav-bar">
			  <div id="menu" class="menu">
			    <a id="site-name-logo" href="/#!/">
			    	<img src="/img/b3-logo-80px.png">
			    </a>
			    <ul class="menu-items">
			      <li><a href="#">Reviews</a></li>
			      <li><a href="#">Articles</a></li>
			    </ul>
			  </div>
			</nav>
		</div>
	    <section name="top-banner" style="margin-top: 50px;">
	    	<div class="row">
	    		<div class="col-md-12" id="bmw-banner"></div>
	    	</div>
	    </section>
	    <section name="search results" data-ng-controller="CarSearchController">
	    	<div class="row" id="top-container">
	    		<div class="col-md-1" id="blank"></div>
				<div class="col-md-11" id="results-title" style="background-color:white;"><h3>Listings near San Francisco</h3></div>
				<div class="row">
					<div class="col-md-1" id="blank"></div>
					<div class="col-md-2">
						<div class="modify-results-container" style="padding: 5px;">
							<div class="row">
								<div class="form-group row" id="min-year-container">
								    <div class="col-sm-10">
								    	<select class="form-control" name="min-year" id="min-year" ng-model="selectedMinYear" data-ng-options="obj.value as obj.text for obj in yearOptions">
							                <option value="">-Minimum year-</option>
								    	</select>
								    </div>
								</div>
							</div>
							<div class="row">
								<div class="form-group row" id="max-year-container">
								    <div class="col-sm-10">
								    	<select class="form-control" name="max-year" id="max-year" ng-model="maxYear" data-ng-options="obj.value as obj.text for obj in yearOptions">>
							                <option value="">-Maximum year-</option>
								    	</select>
								    </div>
								</div>
							</div>
							<div class="row">
								<div class="form-group row" id="min-price-container">
								    <div class="col-sm-10">
								    	<select class="form-control" name="min-price" id="min-price" ng-model="maxPrice">
							                <option value="">-Minimum Price-</option>
							                <option value="price">$10,000</option>
							                <option value="price">$20,000</option>
								    	</select>
								    </div>
								</div>
							</div>
							<div class="row">
						        <div class="form-group row" id="max-price-container">
								    <div class="col-sm-10">
								    	<select class="form-control" name="max-price" id="max-price" ng-model="maxPrice">
							                <option value="">-Maximum Price-</option>
							                <option value="price">$90,000</option>
							                <option value="price">$100,000</option>
								    	</select>
								    </div>
								</div>
							</div>
							<div class="row">
						        <div class="form-group row" id="color-container">
								    <div class="col-sm-10">
								    	<select class="form-control" name="color" id="color" ng-model="color" data-ng-options="obj.value as obj.text for obj in colorOptions">
							                <option value="">-Color-</option>
								    	</select>
								    </div>
								</div>
							</div>
							<div class="row">
								<div class="form-group row" id="models-container">
									<div class="col-sm-10">
										<select class="form-control" name="model" id="model" ng-model="model" data-ng-options="obj.value as obj.text for obj in modelOptions">>
							                <option value="">-Model-</option>
						            	</select>
						            </div>
						    	</div>
							</div>
						</div>
					</div>
					<div class="col-md-6" id="results-container">
						<div data-ng-repeat="car in cars">
							<div class="row">
								<div class="col-md-4">
									<p>This where the box will be</p>
								</div>
								<div class="col-md-8" style="border: 2px solid blue;">
									<h5>{{car.year}} {{car.make}} {{car.model}} {{car.price}} {{car.color}} </h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2" id="ads" style="background-color: blue; border: 4px solid black;height: 1900px; opacity: .7;"></div>
					<div class="col-md-1" id="blank"></div>
				</div>
			</div>
		</section> <!-- Top-page container -->
		<section name="featured-articels">
			<div class="row" id="middle-content">
				<h1>Featured articles</h1>
				<h2>Events</h2>
			</div>
		</section>
    </div> <!-- Page container --> 
	</body>
	<section name="footer">
		<div class="footer" style="text-align: center;">
			Copyright 2016 B3 Autos
		</div>
	</section>
</html>