<!DOCTYPE html>
<html lang="en">

<!-- Style sheets -->
<link rel="stylesheet" type="text/css" href="/css/nav-fixed-top.css">
<link rel="stylesheet" type="text/css" href="/css/mb-index.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- Angular.js library -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

<title>Mercedes-Benz</title>
<body>
	<div id="navigation-bar">
		<nav class="fixed-nav-bar">
		  <div id="menu" class="menu">
		    <a id="site-name-logo" href="/#!/">
		    	<img src="/img/b3-logo-80px.png">
		    </a>
		    <ul class="menu-items">
		      <li><a href="/#!/">Reviews</a></li>
		      <li><a href="/#!/">Articles</a></li>
		    </ul>
		  </div>
		</nav>
	</div>
    <div class="container-fluid" id="page-container" style="margin-top: 50px;">
    	<div class="row">
    		<div class="col-md-12" id="mb-banner"></div>
    	</div>
    	<div class="row" id="top-container" data-ng-controller="CarSearchController">
    		<div class="col-md-1" id="blank"></div>
			<div class="col-md-11" id="results-title" style="background-color:white;"><h3>Listings near San Francisco</h3></div>
			<div class="row">
				<div class="col-md-1" id="blank"></div>
				<div class="col-md-2" id="modify-results-container">
					<div class="row">
						<div class="form-group row" id="min-year-container">
						    <div class="col-sm-10">
						    	<select class="form-control" name="min-year" id="min-year" ng-model="minYear">
					                <option value="">-Minimum year-</option>
					                <option value="year">2014</option>
					                <option value="year">2015</option>
					                <option value="year">2016</option>
						    	</select>
						    </div>
						</div>
					</div>
					<div class="row">
						<div class="form-group row" id="max-year-container">
						    <div class="col-sm-10">
						    	<select class="form-control" name="max-year" id="max-year" ng-model="maxYear">
					                <option value="">-Maximum year-</option>
					                <option value="year">2016</option>
					                <option value="year">2017</option>
						    	</select>
						    </div>
						</div>
					</div>
					<div class="row">
						<div class="form-group row" id="min-price-container">
						    <div class="col-sm-10">
						    	<select class="form-control" name="min-price" id="min-price" ng-model="maxPrice">
					                <option value="">-Minimum Price-</option>
					                <option value="price">$10,000</option>
					                <option value="price">$20,000</option>
						    	</select>
						    </div>
						</div>
					</div>
					<div class="row">
				        <div class="form-group row" id="max-price-container">
						    <div class="col-sm-10">
						    	<select class="form-control" name="max-price" id="max-price" ng-model="maxPrice">
					                <option value="">-Maximum Price-</option>
					                <option value="price">$90,000</option>
					                <option value="price">$100,000</option>
						    	</select>
						    </div>
						</div>
					</div>
					<div class="row">
				        <div class="form-group row" id="color-container">
						    <div class="col-sm-10">
						    	<select class="form-control" name="color" id="color" ng-model="color">
					                <option value="">-Color-</option>
					                <option value="color">Mineral Gray</option>
					                <option value="color">Black</option>
						    	</select>
						    </div>
						</div>
					</div>
					<div class="row">
						<div class="form-group row" id="models-container">
							<div class="col-sm-10">
								<select class="form-control" name="model" id="model">
					                <option value="">-Model-</option>
<!-- 					               	<% if (Array.isArray(autos)) { %>
					               		<% var mod = []; %>
										<% autos.forEach(function(car) { %>
											<% if (mod.indexOf(car.model) == -1) { %>
												<%console.log("Pushed: " + car.model); %>
												<%mod.push(car.model); %>
											<% } %>
					               		<% }) %>
					               		<% mod.forEach(function(model) { %>
											<% console.log("Each model: " + model); %>
												<option value="model"><%= model %></option>
										<% }) %>
					               	<% } %> -->
				            	</select>
				            </div>
						</div>
					</div>
				</div>
				<div class="col-md-6" id="results-container">
					<div class="row" data-ng-init="find()">
						<!-- The list of cars -->
						<li data-ng-repeat="car in cars | orderBy: minYear">
							<h4>{{car.year}} {{car.make}} {{car.model}} {{car.price}} {{car.color}} </h4>
						</li>
					</div>
				</div>
				<div class="col-md-2" id="ads" style="background-color: blue; border: 4px solid black;height: 1900px; opacity: .7;"></div>
				<div class="col-md-1" id="blank"></div>
			</div>
		</div> <!-- Top-page container -->
		<div class="row" id="middle-content">
			<h1>Featured articles</h1>
			<h2>Events</h2>
		</div>
    </div> <!-- Page container --> 
</body>
<div class="footer" style="text-align: center;">
	Copyright 2016 B3 Autos
</div>
</html>