/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
/* BASIC */
body {
  font: normal 18px/22px "Varela Round", sans-serif;
  background-color: #d9d9d9;
  color: #000000;
}
h1, h2 {
  font-family: "Signika", sans-serif;
  font-weight: 600;
}
h1 {
  font-size: 36px;
  line-height: 46px;
  color: #000000;
}
h2 {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: -20px;
  color: #000000;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}