/* Stylesheet for the index page.
 * 3 Main containers:
 * top-content
 * middle-content
 * bottom-content
 */
 #home-page-content {

 }

 #logo-container {
  height: 50px;
  background-color: black;
  border: 2px solid red;
}

#top-container {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/img/top-header.png");
/*  height: 600px;*/
/*  opacity: .7;*/
 }

#row-buffer {
  margin-top: 200px;
}

#top-left-item p {
  color: #73AD21;
  padding: 20px;
  font-size: 20px;
}

#top-left-item {
/*    border: 2px solid red;*/
}

#top-right-item{
/*    border: 2px solid red;*/
}

#top-left-item h2 {
  color: white;
}

#search-form-container {
  background-color: lightgray;
  padding: 10px;
/*  height: 250px;*/
/*  border: 2px solid red;*/
}

#left-heading {
  text-align: center;
  color: black;
}

#submit-button {
  margin: auto;
  text-align: center;
}
/*#newcar-box {
  margin-left: 800px;
  margin-top: 100px;
  width: 270px;
  height: 290px;
  background: rgba(0, 0, 0, .9);
 }

#box-header {
  height: 40px;
  width: 230px;
  margin: auto;
  background-color: #73AD21;
  padding-top: 7px;
 }*/

/*  #box-content {
  width: 270px;
  height: 230px;
}*/

/*#vehicle-make {
  margin: auto;
  margin-top: 10px;
  width: 200px;
  padding: 15px;
  background-color: #e6e6e6;
}

#zipcode {
  margin: auto;
  margin-top: 4px;
  padding: 15px;
  width: 200px;
  background-color: #e6e6e6
}

#radius {
  margin: auto;
  margin-top: 4px;
  width: 200px;
  padding: 15px;
  background-color: #e6e6e6
}*/

/*#submit-button {
  margin: auto;
  margin-top: 4px;
  background-color: #333333;
  text-align: center;
  height: 30px;
  width: 230px;
  cursor: pointer;
}*/

/*input[type="text"], textarea {
  height: 20px;
  font-size: 18px;
  background-color : #e6e6e6; 
}

input[type="submit"] {
  font-size: 18px;
  color: #e6e6e6;
  background-color: #333333;
  cursor: pointer;
  width: 230px;
  height: 50px;
}*/

/*---------------------------------*/
#middle-container {
/*    height: 650px;*/
}

#featured-cars {
    margin: auto;
    text-align: left;
    margin: 25px;
}

#articles {
  height: 550px;
  border: 2px solid red;
}

.bottom-content {
    height: 650px;
}

#top-vehicles {
    margin: auto;
    text-align: left;
    margin: 25px;
}

#footer {
  text-align: center;
}

#test-article {
  background-image: url("/img/green-bmw-m3.jpg");
  background-size: 375px 375px;
  background-repeat: no-repeat;
}

/*@media screen and (max-width:1119px) {
  .top-container {
    margin-top: 50px;
    display: block-inline;
  }

  #footer {
    text-align: left;
  }
}*/


