#mb-banner {
  height: 200px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("img/mb_stock_img.png");
  opacity: 6;
  color: white;
}

#results-title {

}

#top-container h2 {
  text-align: center;
  padding: 10px;
  color: black;
}

#modify-results-container {
  background-color: gray;
/*  border: 2px solid blue;*/
  height: 500px;
}

#results-container{
  height: 900px;
  background: lightgray;
/*  border: 2px solid red;*/
}

#car-result-box {
  margin-top: 15px;
  background-color: white;
  border: 2px solid black;
  height: 200px;
}

#car-picture {
  height: 175px;
  border: 2px solid red;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
/* BASIC */
body {
  font: normal 18px/22px "Varela Round", sans-serif;
  background-color: black;
}

h1, h2 {
  font-family: "Signika", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 36px;
  line-height: 46px;
  color: #000000;
}

h2 {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: -20px;
  color: #000000;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

#footer {
  text-align: center;
}