.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  z-index: 9999;
  background-color: #f2f2f2;
}

.fixed-nav-bar li, .fixed-nav-bar a { 
  height: 50px;
  line-height: 50px;
}

.menu {
  max-width: 960px;
  margin-left: 10px;
}

.menu a, .menu a:visited {
  color: #000000;
}

.menu a:hover, .menu a:target {
  color: #000000;
}

.menu-items {
  display: inline-block;
}

#site-name-logo {
  display: inline-block;
  margin-left: 5px;
}

.menu-items li {
  display: inline-block;
  height: 50px;
  margin: auto;
}