<!DOCTYPE html>
<html>

<!-- Style sheets -->
<link rel="stylesheet" type="text/css" href="/css/index-page.css">
<link rel="stylesheet" type="text/css" href="/css/base.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<body>
	<title>B3 Autos</title>
	<div class="container-fluid" id="page-container">
		<div class="row"> <!-- First row of the page -->
			<div class="col-md-12" id="logo-container"><a href="/"><img src="/img/b3-logo-80px.png"></a></div>
		</div>
		<div class="row"> <!-- Second row of the page -->
			<div class="col-md-12" id="top-container">
				<div class="row">
					<div class="col-md-6" id="top-left-item" style="height: 500px;">
						<div class="row">
							<div class="col-md-12" style="height:150px;"></div>
							<div class="col-md-3" id="blank"></div>
							<div class="col-md-6" id="left-heading">
								<h2>For The Ultimate Car Enthusiast</h2>
								<p>Search for the top cars of 2016</p>
							</div>
							<div class="col-md-3" id="blank"></div>
						</div>
					</div>
					<div class="col-md-6" id="top-right-item" style="height: 500px;">
						<div class="row">
							<div class="col-md-12" style="height:150px;"></div>
							<div class="col-md-3" id="blank"></div>
							<div class="col-md-6" id="search-form-container">
								<div data-ng-controller="SearchController">
									<form name="searchForm" data-ng-submit="search()" novalidate>
								        <div class="form-group row" id="vehicle-make-container">
								          	<label for="vehicle-make" class="col-sm-2 form-control-label">Make</label>
										    <div class="col-sm-10">
										    	<select class="form-control" name="vehicle-make" id="vehicle-make" data-ng-model="selectedMake" data-ng-options="obj.value as obj.text for obj in searchOptions">
										    		<option value="">All Makes</option>
								            	</select>
										    </div>
										</div>
								        <div class="form-group row" id="user-zipcode-container">
								          	<label for="zipcode" class="col-sm-2 form-control-label">Zipcode</label>
										    <div class="col-sm-10">
										      <input type="text" class="form-control" id="user-zipcode" data-ng-model="zipcode" required data-ng-minlength="5" data-ng-pattern="/^\d+$/" placeholder="Zipcode">
										    </div>
										 </div>
								        <div id="submit-button">
								            <input class="btn btn-success" type="submit" value="Submit">
								        </div>
								    </form>
								</div> <!-- End of controller -->
							</div>
							<div class="col-md-3" id="blank"></div>
						</div> <!-- row -->
					</div> <!-- top-right-item -->
				</div> <!-- row -->
			</div> <!-- top-container -->
		</div>
		<div class="row">
			<div class="col-md-12" id="middle-container">
				<h2>Featured News</h2>
				<div class="row">
					<div class="col-md-4" id="articles">
						<div class="row">
							<div class="col-md-12" id="article-picture" style="height:250px; border: 2px solid blue;">Picture Soon</div>
						</div>
						<div class="row">
							<div class="col-md-12"><h3>Ford GT350</h3></div>
						</div>
						<div class="row">
							<div class="col-md-12"><p>CONTENT</p></div>
						</div>
					</div>
					<div class="col-md-4" id="articles">
						<div class="row">
							<div class="col-md-12" id="article-picture" style="height:250px; border: 2px solid blue;">Picture Soon</div>
						</div>
						<div class="row">
							<div class="col-md-12"><h3>BMW M4 GTS</h3></div>
						</div>
						<div class="row">
							<div class="col-md-12"><p>CONTENT</p></div>
						</div>
					</div>
					<div class="col-md-4" id="articles">
						<div class="row">
							<div class="col-md-12" id="article-picture" style="height:250px; border: 2px solid blue;">Picture Soon</div>
						</div>
						<div class="row">
							<div class="col-md-12"><h3>BMW M2</h3></div>
						</div>
						<div class="row">
							<div class="col-md-12"><p>CONTENT</p></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<h3>MORE</h3>
		</div>
		<div class="row">
			<div class="col-md-12" id="middle-container">
				<div class="row">
					<div class="col-md-4" id="articles">
						<div class="row">
							<div class="col-md-12" id="article-picture" style="height:250px; border: 2px solid blue;">
								<a href="/articles">Picture Soon</a>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12"><h3>Mercedes Benz C63 AMG</h3></div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<a href="/articles">read more</a>
							</div>
						</div>
					</div>
					<div class="col-md-4" id="articles">
						<div class="row">
							<div class="col-md-12" id="test-article" style="height:250px; border: 2px solid blue;"></div>
						</div>
						<div class="row">
							<div class="col-md-12"><h3>BMW M3</h3></div>
						</div>
						<div class="row">
							<div class="col-md-12"><p>CONTENT</p></div>
						</div>
					</div>
					<div class="col-md-4" id="articles">
						<div class="row">
							<div class="col-md-12" id="article-picture" style="height:250px; border: 2px solid blue;">Picture Soon</div>
						</div>
						<div class="row">
							<div class="col-md-12"><h3>Porsche 911</h3></div>
						</div>
						<div class="row">
							<div class="col-md-12"><p>Content</p></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<div class="footer" style="text-align: center;">
	Copyright 2016 B3 Autos
</div>

</html>