<!-- Render the search form  -->
    <div class="search">
      <h2>Select BMW Model</h2>
      <form name="bmw_model-form" id="bmw_model-form" method="post">
        <div class="option-form-group">
            <select name="model">
                <option value="m2">M2</option>
                <option value="m3">M3</option>
                <option value="m4">M4</option>
                <option value="m5">M5</option>
                <option value="m6">M6</option>
                <option value="i8">i8</option>
                <option value="i8">i3</option>
            </select>
        </div>
        <div class="option-form-submit">
            <input type="submit"/>
        </div>
    </form>
</div>