<!DOCTYPE html>
<html lang="en">
<% include header %>
<link rel="stylesheet" type="text/css" href="/css/bmwindex-page.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<title>BMW</title>
<body>
    <% include navbar %>
    <div class="container-fluid" id="page-container" style="margin-top: 50px;">
    	<div class="row">
    		<div class="col-md-12" id="bmw-banner"></div>
    	</div>
    	<div class="row">
    		<div class="col-md-1" id="blank"></div>
			<div class="col-md-11" id="results-title" style="background-color:white;"><h3>Listings near San Francisco</h3></div>
			<div class="row">
				<div class="col-md-1" id="blank"></div>
				<div class="col-md-2" id="modify-results-container">
					<div class="row">
						<div class="form-group row" id="min-year-container">
						    <div class="col-sm-10">
						    	<select class="form-control" name="min-year" id="min-year">
					                <option>-Minimum year-</option>
					                <option value="2014">2014</option>
					                <option value="2015">2015</option>
					                <option value="2016">2016</option>
						    	</select>
						    </div>
						</div>
					</div>
					<div class="row">
						<div class="form-group row" id="max-year-container">
						    <div class="col-sm-10">
						    	<select class="form-control" name="max-year" id="max-year">
					                <option>-Maximum year-</option>
					                <option value="2016">2016</option>
					                <option value="2017">2017</option>
						    	</select>
						    </div>
						</div>
					</div>
					<div class="row">
						<div class="form-group row" id="min-price-container">
						    <div class="col-sm-10">
						    	<select class="form-control" name="min-price" id="min-price">
					                <option>-Minimum Price-</option>
					                <option value="10000">$10,000</option>
					                <option value="20000">$20,000</option>
						    	</select>
						    </div>
						</div>
					</div>
					<div class="row">
				        <div class="form-group row" id="max-price-container">
						    <div class="col-sm-10">
						    	<select class="form-control" name="max-price" id="radius">
					                <option>-Maximum Price-</option>
					                <option value="90000">$90,000</option>
					                <option value="100000">$100,000</option>
						    	</select>
						    </div>
						</div>
					</div>
					<div class="row">
						<div class="form-group row" id="models-container">
							<div class="col-sm-10">
								<select class="form-control" name="model" id="model">
					                <option>-Model-</option>
					               	<% if (Array.isArray(autos)) { %>
					               		<% var mod = []; %>
										<% autos.forEach(function(car) { %>
											<% if (mod.indexOf(car.model) == -1) { %>
												<%console.log("Pushed: " + car.model); %>
												<%mod.push(car.model); %>
											<% } %>
					               		<% }) %>
					               		<% mod.forEach(function(model) { %>
											<% console.log("Each model: " + model); %>
												<option value="model"><%= model %></option>
										<% }) %>
					               	<% } %>
				            	</select>
				            </div>
						</div>
					</div>
				</div>
				<div class="col-md-6" id="results-container">
					<div class="row">
						<% if (Array.isArray(autos)) { %>
							<% autos.forEach(function(car) { %>
							<div class="col-md-12" id="car-result-box">
								<div class="row">
									<div class="col-md-12" id="car-info"><%= car.year %> <%= car.make %> <%= car.model %> <%= car.color %></div>
								</div>
								<div class="row">
									<div class="col-md-4" id="car-picture"></div>
									<div class="col-md-8" id="blank">$<%= car.price %></div>
								</div>
							</div>
							<% })} else { %>
								Make: <%= car.make %>
								Model: <%= car.model %>
								<% }; %>
					</div>
				</div>
				<div class="col-md-2" id="ads" style="background-color: blue; border: 4px solid black;height: 1900px; opacity: .7;"></div>
				<div class="col-md-1" id="blank"></div>
			</div>
		</div>
    </div>
</body>
<div class="footer" style="text-align: center;">
	Copyright 2016 B3 Autos
</div>
</html>