<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
</head>
<body>
	<!-- Render AngularJS views  -->
	<section ng-view></section>
	
	<!-- Load local libraries -->
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Load the index module -->
	<script type="text/javascript" src="/index/index.client.module.js"></script>
	<script type="text/javascript" src="/index/controllers/index.client.controller.js"></script>
	<script type="text/javascript" src="/index/config/index.client.routes.js"></script>
	
	<!-- Load the cars module -->
	<script type="text/javascript" src="/carsearch/carsearch.client.module.js"></script>
	<script type="text/javascript" src="/carsearch/controllers/carsearch.client.controller.js"></script>
	<script type="text/javascript" src="/carsearch/services/carsearch.client.service.js"></script>
	<script type="text/javascript" src="/carsearch/config/carsearch.client.routes.js"></script>

	<!-- Bootstrap AngularJS application -->
	<script type="text/javascript" src="/application.js"></script>
</body>
</html>