<!DOCTYPE html>
<html lang="en">
<% include header %>
<link rel="stylesheet" type="text/css" href="/css/bmwindex-page.css">
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<title>BMW</title>
<body>
    <% include navbar %>
    <div class="container-fluid" id="page-container" style="margin-top: 50px;">
    	<div class="row">
    		<div class="col-md-12" id="mb-banner"></div>
    	</div>
    	<div class="row">
    		<div class="col-md-1" id="blank"></div>
			<div class="col-md-11" id="results-title" style="background-color:white;"><h3>Listings near San Francisco</h3></div>
			<div class="row">
				<div class="col-md-1" id="blank"></div>
				<div class="col-md-2" id="modify-results-container">Modify Bar</div>
				<div class="col-md-6" id="results-container">
					<div class="row">
						<% if (Array.isArray(autos)) { %>
							<% autos.forEach(function(car) { %>
							<div class="col-md-12" id="car-result-box">
								<div class="row">
									<div class="col-md-5" id="car-picture"></div>
									<div class="col-md-7" id="car-info"><%= car.year %> <%= car.make %> <%= car.model %> <%= car.color %> $<%= car.price %></div>
								</div>

							</div>
							<% })} else { %>
								Make: <%= car.make %>
								Model: <%= car.model %>
								<% }; %>
						<!-- <div class="col-md-12" id="car-result-box">Each car</div> -->
					</div>
				</div>
				<div class="col-md-2" id="ads" style="background-color: blue; border: 4px solid black;height: 1900px; opacity: .7;"></div>
				<div class="col-md-1" id="blank"></div>
			</div>
		</div>
    </div>
</body>
<div class="footer" style="text-align: center;">
	Copyright 2016 B3 Autos
</div>
</html>