<div id="navigation-bar">
	<nav class="fixed-nav-bar">
	  <div id="menu" class="menu">
	    <a id="site-name-logo" href="/">
	    	<img src="/img/b3-logo-80px.png">
	    </a>
	    <ul class="menu-items">
	      <li><a href="#">Reviews</a></li>
	      <li><a href="#">Articles</a></li>
	    </ul>
	  </div>
	</nav>
</div>
