<!DOCTYPE html>
<html lang="en">
<% include header %>
<title>Porsche</title>
<body>
    <% include navbar %>
	<h1>Welcome to the Porsche Community</h1>

	<!-- Load the static image file  -->
	<img src="img/classic_porsche.png" alt="classic_porsche" width="1400" height="700">
</body>
<% include footer %>
</html>